<%- model_class = User -%>
<div class="page-header">
  <h1><%= t('views.user.users') %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, user_path(user) %></td>
        <td><%= user.name %></td>
        <td>
          <%= link_to t('views.common.edit'), edit_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to t('views.common.destroy'), user_path(user), :method => 'delete', :data => { :confirm => t('views.common.confirm') }, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('views.common.new'), users_path, :class => 'btn' %>
